ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h4 {
    margin-bottom: 0;
}

p.label {
    margin-bottom: 0;
}

:host.object {
    display: block;
}

:host.object:not(.root) {
    padding-left: 20px;
    padding-top: 5px;
    border-top: 1px solid rgba(15, 15, 15, 0.63);
}

