:host {
    display: block;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.modeler-container {
    margin-top: 0;
    margin-left: 0px;
    width: 100%;
}

:host::ng-deep {
    .dmn-decision-table-container td, .dmn-decision-table-container th {
        padding-top: 2px;
        padding-bottom: 2px;
    }
}
