<div *ngIf="searchOpen" class="search mb-1">
    Suche:
    <xn-input-form [title]="'suche'"
                   [label]="'Suchwort'"
                   [showLabel]="false"
                   #searchInput
                   [autofocus]="true"
                   [validatable]="false"
                   class="inline-block mb-0 nomargin"
                   [name]="'suche'"
                   (ngModelChange)="onSearchValueChanged($event)"
                   [(ngModel)]="searchValue"></xn-input-form>
    in Spalte:
    <xn-dropdown [showLabel]="false"
                 [idPropertyPath]="'id'"
                 [displayPropertyPath]="'label'"
                 [validatable]="false"
                 class="inline-block mb-0 nomargin w120"
                 [name]="'datamodel.type'"
                 [noborder]="true"
                 [nomargin]="true"
                 [label]="'Spalte wählen'"
                 [items]="currentColumns"
                 (ngModelChange)="onSearchColumnChanged($event)"
                 [ngModel]="searchColumn"></xn-dropdown>
    <button (click)="closeAndClearSearch()" style="padding-top: 4px;" class="small right mr-05 no-border no-background">
        <i class="fa fa-times" aria-hidden="true"></i>
    </button>
</div>
<div class="modeler-container full-height">
    <div #canvas class="canvas full-height"></div>
</div>
