:host {
    display: block;
    padding-right: 5px;
    padding-left: 0px;
    padding-bottom: 50px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.search {
    padding-bottom: 7px;
    padding-top: 6px;
    padding-left: 10px;
    position: absolute;
    z-index: 1004;
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3), -2px 4px 6px 0px rgba(0, 0, 0, 0.22);
}

.modeler-container {
    margin-top: 0.5rem;
    margin-left: 5px;
    width: 100%;
}

:host::ng-deep {
    .dmn-decision-table-container td, .dmn-decision-table-container th {
        padding-top: 2px;
        padding-bottom: 2px;
    }
}
