<div class="col-12">
    <h4>Einstellungen</h4>
    <div class="mb-2">
        <xn-section-divider [label]="'Simulation'"></xn-section-divider>
        <xn-input-form ngModel
                    [(ngModel)]="configuration.simulatorBaseUrl"
                    [label]="'Simulator Basis URL'"
                    [validatable]="false"
                    name="simulatorBaseUrl"></xn-input-form>
    </div>
    <div class="mb-2">
        <xn-section-divider [label]="'Validierung'"></xn-section-divider>
        <xn-checkbox ngModel
                    [(ngModel)]="configuration.autoValidation"
                    name="autoValidate">Nach jedem Speichern und Öffnen automatisch validieren</xn-checkbox>
    </div>
    <div class="mb-2">
        <xn-section-divider [label]="'Git'"></xn-section-divider>
        <div class="flex">
            <div class="inline-block mr-1">
            <xn-input-form ngModel
                [(ngModel)]="configuration.gitSignature.name"
                [label]="'Name'"
                [validatable]="false"
                name="name"></xn-input-form>
            </div>
            <xn-input-form ngModel
                [(ngModel)]="configuration.gitSignature.email"
                [label]="'Email'"
                [validatable]="false"
                name="email"></xn-input-form>
        </div>
        <div>
            <xn-input-form [multiline]="true"
                        [name]="'privateKey'"
                        [label]="'private GIT Key'"
                        [placeholder]="'Private Key'"
                        [(ngModel)]="configuration.gitKey.privateKey"></xn-input-form>
            <xn-input-form [multiline]="true"
                        [name]="'publicKey'"
                        [label]="'public GIT Key'"
                        [placeholder]="'Public Key'"
                        [(ngModel)]="configuration.gitKey.publicKey"></xn-input-form>
        </div>
    </div>
    <div class="mb-2">
        <xn-button [disabled]="!isChanged()" class="mr-1" [default]="true" (clicked)="saveSettings()">Speichern</xn-button>
        <xn-button [disabled]="!isChanged()" (clicked)="discard()">Änderungen verwerfen</xn-button>
    </div>
</div>
