@import 'variables';
@import 'mixins';

.testsuite-item {
    list-style-type: none;
    padding-left: 0px;
}

li.test-tableid {
    padding: 5px 5px;
    border-top: 1px solid #E3E5E6;
    border-bottom: 1px solid #E3E5E6;
    font-weight: bold;
}

li.test-item {
    padding-top: 5px;
    padding-bottom: 3px;
    padding-left: 4px;
    padding-right: 5px;
    border-left: 8px solid transparent;
}

li.test-item.success {
    border-left: 8px solid $brand-teritiary-color-60;
}

li.test-item.error {
    border-left: 8px solid $danger;
}

li.test-item:last-child {
    margin-bottom: 5px;
}

.link-to-test {
    cursor: pointer;
}

.link-to-test:hover {
    text-decoration: underline;
}
