<div class="flex flex-column full-height">
    <div class="button-bar">
        <xn-button class="small ml-1"
                (click)="addTestCase()">
            <i class="fa fa-plus mr-05" aria-hidden="true"></i>Testcase anlegen
        </xn-button>
        <xn-button class="small ml-1"
                (click)="runAllTests()">
            <i class="fa fa-forward mr-05" aria-hidden="true"></i>Alle ausführen
        </xn-button>
    </div>
    <div class="scrollable">
        <xn-data-table [condensed]="true"
                    [data]="testCases$ | async"
                    [templateRef]="testCaseTemplate">
            <th class="name-column" xnHeaderColumn [propertyPath]="'testCase.testcase.name'">Testname</th>
            <th xnHeaderColumn>Eingabedaten</th>
            <th xnHeaderColumn>Erwartetes Ergebnis</th>
            <th class="button-column" xnHeaderColumn><i class="fa fa-tasks" aria-hidden="true"></i></th>
            <th class="button-column" xnHeaderColumn></th>
            <th class="button-column" xnHeaderColumn></th>
        </xn-data-table>
    </div>
</div>

<ng-template #testCaseTemplate let-item="item">
    <td>
        <xn-input-form [title]="item.testcase.name"
                       [label]="'Name'"
                       [showLabel]="false"
                       [validatable]="false"
                       class="inline-block mb-0 noborder nomargin"
                       [name]="'Name'"
                       [(ngModel)]="item.testcase.name"></xn-input-form>
    </td>
    <td>
        <xn-json-editor [requestModel]="dataModel$ | async"
                        [value]="item.testcase.data"
                        [hideButtons]="true"
                        [type]="1"></xn-json-editor>
    </td>
    <td>
        <xn-json-editor [requestModel]="responseModel$ | async"
                        [value]="item.testcase.expectedData"
                        [hideButtons]="true"
                        [type]="1"></xn-json-editor>
    </td>
    <td class="text-center" [ngClass]="item.clazz">
        <i *xnIfNull="item.result" class="fa fa-question-circle" aria-hidden="true"></i>
        <i *xnIfFalse="item.result" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        <i *ngIf="item.result" class="fa fa-check-square" aria-hidden="true"></i>
    </td>
    <td>
        <xn-button (click)="testCase(item)" class="small"><i class="fa fa-play" aria-hidden="true"></i></xn-button>
    </td>
    <td>
        <xn-button (click)="deleteCase(item)" class="small"><i class="fa fa-times" aria-hidden="true"></i></xn-button>
    </td>
</ng-template>
