@import 'variables';
@import 'mixins';

.button-column {
    width: 44px;
}

.result-column {
    width: 55px;
}

.name-column {
    width: 300px;
}

td {
    vertical-align: top;
}

td.success {
    background-color: #def1c3;
}

td.error {
    background-color: #ffe1e3;
}

td {
    @include font-size($base-font-size);
}
