@import 'variables';
@import 'mixins';

:host {
    display: block;
    padding-top: 5px;
    height: 100%;
}

.button-column {
    width: 44px;
}

.result-column {
    width: 55px;
}

.name-column {
    width: 300px;
}

.data-model-column {
    min-width: 250px;
}

td {
    vertical-align: top;
}

td.success {
    background-color: #def1c3;
}

td.error {
    background-color: $danger;
}

td {
    @include font-size($base-font-size);
}

.scrollable {
    overflow-y: auto;
    padding-bottom: 50px;
}
