<div class="flex flex-column full-height">
    <div class="button-bar">
        <xn-button class="small ml-1"
                (click)="addTestCase()">
            <i class="fa fa-plus mr-05" aria-hidden="true"></i>Testcase anlegen
        </xn-button>
        <xn-button class="small ml-1"
                (click)="runAllTests()"
                *ngIf="!!(urlConfigured$ | async)">
            <i class="fa fa-forward mr-05" aria-hidden="true"></i>Alle ausführen
        </xn-button>
        <xn-button class="small ml-1"
                (click)="openSettings()"
                *ngIf="!(urlConfigured$ | async)">
            Kein Service URL konfiguriert (Einstellungen)
        </xn-button>
    </div>
    <div class="scrollable">
        <xn-data-table [condensed]="true"
                    [data]="testCases$ | async"
                    [templateRef]="testCaseTemplate">
            <th class="name-column" xnHeaderColumn [propertyPath]="'testCase.testcase.name'">Testname</th>
            <th class="data-model-column" xnHeaderColumn>Eingabedaten</th>
            <th class="data-model-column" xnHeaderColumn>Erwartetes Ergebnis</th>
            <th class="button-header-column" xnHeaderColumn><i class="fa fa-tasks" aria-hidden="true"></i></th>
            <th class="button-header-column" xnHeaderColumn></th>
            <th class="button-header-column" xnHeaderColumn></th>
            <th class="button-header-column" xnHeaderColumn></th>
        </xn-data-table>
    </div>
</div>

<ng-template #testCaseTemplate let-item="item">
    <tr>
        <td>
            <xn-input-form [title]="item.testcase.name"
                        [label]="'Name'"
                        [showLabel]="false"
                        [validatable]="false"
                        class="inline-block mb-0 noborder nomargin"
                        [name]="'Name'"
                        [(ngModel)]="item.testcase.name"></xn-input-form>
        </td>
        <td>
            <xn-json-editor [requestModel]="dataModel$ | async"
                            [value]="item.testcase.data"
                            [hideButtons]="true"
                            [open]="item === testitem"
                            [type]="1"></xn-json-editor>
        </td>
        <td>
            <xn-json-editor [requestModel]="responseModel$ | async"
                            [value]="item.testcase.expectedData"
                            [hideButtons]="true"
                            [open]="item === testitem"
                            [type]="1"></xn-json-editor>
        </td>
        <td class="text-center" style="padding-top:8px;" [ngClass]="item.clazz" (click)="item.showError = true">
            <i *xnIfNull="item.result" class="fa fa-question-circle" aria-hidden="true"></i>
            <i *xnIfFalse="item.result" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            <i *ngIf="item.result" class="fa fa-check-square" aria-hidden="true"></i>
        </td>
        <td class="button-column">
            <xn-button (click)="testCase(item)" class="small">
                <i class="fa fa-play" aria-hidden="true"></i></xn-button>
        </td>
        <td class="button-column">
            <xn-button (click)="deleteCase(item)" class="small">
                <i class="fa fa-times" aria-hidden="true"></i></xn-button>
        </td>
        <td class="button-column">
            <xn-button (click)="openInSimulator(item)" class="small">
                <i class="fa fa-flask" aria-hidden="true"></i></xn-button>
        </td>
    </tr>
    <tr *ngIf="!item.result && item.showError">
        <td *ngIf="item.message" colspan="2">Fehler</td>
        <td *ngIf="!item.message" colspan="2">Tatsächliches Ergebnis</td>
        <td *ngIf="item.message" colspan="4">
            <span *ngIf="item.message">{{item.message}}</span>
        </td>
        <td *ngIf="!item.message" colspan="3">
            <xn-json-editor [requestModel]="responseModel$ | async"
                            [value]="item.finalResult"
                            [hideButtons]="true"
                            [type]="1"></xn-json-editor>
        </td>
        <td *ngIf="!item.message">
            <xn-button (click)="takeOverFinalResult(item)" class="small"><i class="fa fa-clone" aria-hidden="true"></i></xn-button>
        </td>
    </tr>
</ng-template>
