<xn-menu-header [brandName]="'dmnmgr'" [brandLogoSource]="'assets/logo.png'">
    <li class="menu">
        <xn-button (click)="fileMenuVisible = !fileMenuVisible"
                   (mouseleave)="fileMenuVisible = false"
                   class="small transparent">Projekt
            <ul *ngIf="fileMenuVisible" class="sub-menu">
                <div class="sub-menu-container">
                    <li (click)="createNewProject()">
                        <i class="fa fa-file-o mr-05" aria-hidden="true"></i>Neu
                        <span class="right">(STRG + N)</span>
                    </li>
                    <li (click)="openProject()">
                        <i class="fa fa-folder-open-o mr-05" aria-hidden="true"></i>Öffnen
                        <span class="right">(STRG + O)</span>
                    </li>
                    <li class="section-divider"><xn-section-divider [lineOnly]="true"></xn-section-divider></li>
                    <li (click)="saveProject()">
                        <i class="fa fa-floppy-o mr-05" aria-hidden="true"></i>Speichern
                        <span class="right">(STRG + S)</span>
                    </li>
                    <li (click)="saveProjectAs()">Speichern unter</li>
                    <li class="section-divider"><xn-section-divider [lineOnly]="true"></xn-section-divider></li>
                    <li (click)="importExistingDmn()">
                        <i class="fa fa-upload mr-05" aria-hidden="true"></i>Dmn Datei importieren
                    </li>
                    <li class="section-divider"><xn-section-divider [lineOnly]="true"></xn-section-divider></li>
                    <li (click)="quit()">
                        <i class="fa fa-sign-out mr-05" aria-hidden="true"></i>Beenden
                    </li>
                </div>
            </ul>
        </xn-button>
    </li>
    <li class="menu">
        <xn-button (click)="bearbeitenMenuVisible = !bearbeitenMenuVisible"
                    (mouseleave)="bearbeitenMenuVisible = false"
                    class="small transparent">Bearbeiten
            <ul *ngIf="bearbeitenMenuVisible" class="sub-menu">
                <div class="sub-menu-container">
                    <li (click)="openSearch()">
                        <i class="fa fa-search mr-05" aria-hidden="true"></i>Suchen
                        <span class="right">(STRG + F)</span>
                    </li>
                </div>
            </ul>
        </xn-button>
    </li>
    <li class="menu">
        <xn-button (click)="testMenuVisible = !testMenuVisible"
                   (mouseleave)="testMenuVisible = false"
                   class="small transparent">Tests
            <ul *ngIf="testMenuVisible" class="sub-menu">
                <div class="sub-menu-container">
                    <li (click)="openAllTestsDialog()">
                        <i class="fa fa-cogs mr-05" aria-hidden="true"></i>Alle ausführen
                    </li>
                </div>
            </ul>
        </xn-button>
    </li>
    <li class="menu">
        <xn-button (click)="engineMenuVisible = !engineMenuVisible"
                   (mouseleave)="engineMenuVisible = false"
                   class="small transparent">Engine
            <ul *ngIf="engineMenuVisible" class="sub-menu">
                <div class="sub-menu-container">
                    <li (click)="clearDeployments()">
                        <i class="fa fa-trash-o mr-05" aria-hidden="true"></i>Deployments löschen
                    </li>
                    <li (click)="deploy()">
                        <i class="fa fa-cloud-upload mr-05" aria-hidden="true"></i>DRD bereitstellen
                    </li>
                </div>
            </ul>
        </xn-button>
    </li>
    <li class="menu">
        <xn-button (click)="pluginMenuVisible = !pluginMenuVisible"
                    (mouseleave)="pluginMenuVisible = false"
                    class="small transparent">Plugins
            <ng-container *ngIf="pluginsMerged$ | async as plugins">
                <ul *ngIf="pluginMenuVisible" class="sub-menu">
                    <div class="sub-menu-container">
                        <li *ngFor="let plugin of plugins" (click)="enablePlugin(plugin)">
                            <i class="fa mr-05" [ngClass]="plugin.icon" aria-hidden="true"></i>{{plugin.label}}
                            <i class="fa fa-check right" *ngIf="plugin.activated" aria-hidden="true"></i>
                        </li>
                    </div>
                </ul>
            </ng-container>
        </xn-button>
    </li>
</xn-menu-header>
<div class="main-content full-height">
    <router-outlet></router-outlet>
</div>

<xn-dialog [closable]="true"
           [(open)]="showErrorDialog"
           (openChange)="onOpenChange($event)"
           (confirm)="clearError()"
           [hideCancelButton]="true"
           [closeOnOutsideClick]="false">
    <div class="dialog-title">
        Fehler
    </div>
    <div class="dialog-body pb-1">
        <p>
            {{filesystemError}}
        </p>
    </div>
</xn-dialog>

<xn-dialog [closable]="true"
           [(open)]="showAllTestsDialog"
           *ngIf="showAllTestsDialog"
           (confirm)="runAllTests()"
           [defaultOkButtonText]="'Tests ausführen'"
           [hideCancelButton]="false"
           [closeOnConfirm]="false"
           [closeOnOutsideClick]="false">
    <div class="dialog-title">
        Alle Tests ausführen
    </div>
    <div class="dialog-body pb-1">
        <ng-container *ngIf="testSuite">
            <ng-container *ngFor="let item of testSuite">
                <ul *ngIf="item.tests?.length > 0" class="testsuite-item">
                    <li class="test-tableid">{{item.tableId}}</li>
                    <li *ngFor="let test of item.tests" [ngClass]="test.clazz" class="test-item">
                        <div class="inline-block mr-05">
                            <i *xnIfNull="test.result" class="fa fa-question-circle" aria-hidden="true"></i>
                            <i *xnIfFalse="test.result" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            <i *ngIf="test.result" class="fa fa-check-square" aria-hidden="true"></i>
                        </div>
                        <div class="inline-block">
                            {{test.test.name}}
                        </div>
                    </li>
                </ul>
            </ng-container>
        </ng-container>
        <div *ngIf="isTestSuiteEmpty">
            <i class="fa fa-fire mr-1" aria-hidden="true"></i>Kein Test? Dein ernst?
        </div>
    </div>
</xn-dialog>
