@import 'variables';
@import 'mixins';

xn-menu-header {
    padding: 0;
}

:host::ng-deep {
    xn-menu-header {
        border-top: 1px solid #E3E5E6;
        border-bottom: 1px solid #E3E5E6;
    }
    xn-menu-header .nav {
        padding: 0;

        ul {
            float: left;

            li {
                margin-right: 3px;
            }
        }

        .brand-bar {
            float: right;
            padding-right: 6px;
            padding-top: 0px;

            img {
                margin-top: 3px;
            }
        }
    }
}

.testsuite-item {
    list-style-type: none;
    padding-left: 0px;
}

li.test-tableid {
    padding: 5px 5px;
    border-top: 1px solid #E3E5E6;
    border-bottom: 1px solid #E3E5E6;
    font-weight: bold;
}

li.test-item {
    padding-top: 5px;
    padding-bottom: 3px;
    padding-left: 4px;
    padding-right: 5px;
    border-left: 8px solid transparent;
}

li.test-item.success {
    border-left: 8px solid $brand-teritiary-color-60;
}

li.test-item.error {
    border-left: 8px solid $danger;
}

li.test-item:last-child {
    margin-bottom: 5px;
}

.sub-menu {
    position: absolute;
    top: 29px;
    left: -1px;
    display: block;
    float: none;
    background-color: #333;
    z-index: 2006;

    .sub-menu-container {
        @include shadow(0px 3px 5px 1px rgba(68, 68, 68, 0.45));
    }

    li {
        width: 200px;
        position: relative;
        padding: 10px;
        list-style: none;
        margin: 0;
        background-color: #f9f9f9;
    }

    li.section-divider {
        padding-top: 0;
        padding-bottom: 0;
        z-index: -1;
        margin-top: -10px;
    }

    li:not(.section-divider):hover {
        background-color: $brand-teritiary;
    }

    li:last-child {
        border-bottom: none;
    }
}

.sub-sub-menu {
    position: absolute;
    top: 0px;
    left: 100%;
    z-index: -1;
}
