<xn-menu-header [brandName]="'bpmgrs'" [brandLogoSource]="'assets/logo.png'">
    <li class="menu">
        <xn-button (click)="fileMenuVisible = !fileMenuVisible"
                   (mouseleave)="fileMenuVisible = false"
                   class="small transparent">Datei
            <ul *ngIf="fileMenuVisible" class="sub-menu">
                <div class="sub-menu-container">
                    <li (click)="createNewProject()">Neues Projekt</li>
                    <li (click)="openProject()">Projekt öffnen</li>
                    <li class="section-divider"><xn-section-divider [lineOnly]="true"></xn-section-divider></li>
                    <li (click)="saveProject()">Projekt speichern</li>
                    <li (click)="saveProjectAs()">Projekt speichern unter</li>
                    <li class="section-divider"><xn-section-divider [lineOnly]="true"></xn-section-divider></li>
                    <li (click)="importExistingDmn()">Dmn Datei importieren</li>
                    <li class="section-divider"><xn-section-divider [lineOnly]="true"></xn-section-divider></li>
                    <li (click)="exit()">Beenden</li>
                </div>
            </ul>
        </xn-button>
    </li>
</xn-menu-header>
<div class="main-content full-height">
    <router-outlet></router-outlet>
</div>
