@import 'variables';
@import 'mixins';

.message {
    @include font-size($base-font-size);
}

.commit-entry {
    cursor: pointer;
}

.changes > ul {
    padding: 0;
    margin-top: 5px;
    margin-bottom: 0;

    > li {
        padding: 0;
        margin-top: 5px;
        margin-bottom: 0;
    }
}

.commit-menu {
    max-height: 0px;
    opacity: 0;
    visibility: hidden;
}
