@import 'variables';

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    border-bottom: $tab-header-border-bottom;
}

li {
    color: $tab-header-col-active-font-color;
    width: 140px;
    padding: 8px;
    text-align: left;
    cursor: pointer;
    display: block;
}

.filetree {
    margin-top: 20px;

    ul {
        border-top: 1px solid #E3E5E6;
        border-bottom: none;
        display: block;
        overflow: hidden;
        width: 100%;

        li {
            border-bottom: 1px solid #E3E5E6;
            width: auto;
        }

        li.active {
            background-color: $tab-header-col-active-bg-color;
            transition: background-color 0.3s linear;
            -webkit-transition: background-color 0.3s linear;
            -moz-transition: background-color 0.3s linear;
        }
    }
}
