<xn-dialog [closable]="true"
            [open]="open"
            *ngIf="open"
            (openChange)="onDialogOpenChanged($event)"
            (confirm)="onCommitClicked()"
            (cancel)="onCancelClicked()"
            [defaultOkButtonText]="'Änderung bestätigen'"
            [closeOnOutsideClick]="false">
    <div class="dialog-title">
        Änderungshinweis
    </div>
    <div class="dialog-body pb-1">
        <form #commitForm="ngForm">
            <p>Dateien zum Commit hinzufügen</p>
            <xn-button class="small mb-1 ml-05" (click)="onSelectAllChanged()">Alle auswählen</xn-button>
            <xn-list-selector
                [(ngModel)]="selectedFiles"
                [displayPropertyPath]="'name'"
                class="small"
                name="fileSelector"
                [items]="files">
            </xn-list-selector>
            <p>
                Bitte geben Sie einen Änderungshinweis an. Der Hinweis sollte kurz zusammengefasst
                den Grund der Anpassung beschreiben.
            </p>
            <xn-input-form [multiline]="true"
                        [name]="'commitMessage'"
                        xnRequired
                        xnRequiredMessage="'Der Änderungshinweis ist Pflicht.'"
                        xnMinLength="10"
                        [placeholder]="'Änderungshinweis'"
                        minLengthMessage="'Der Änderungshinweis muss mindestens {minLength} Zeichen haben.'"
                        [(ngModel)]="commitMessage"></xn-input-form>
        </form>
    </div>
</xn-dialog>
