<xn-tabs (selectedTabChange)="onSelectedTabChanged($event)">
    <xn-tab [title]="'Datenmodell'"
            *ngIf="isDecicionTableMode"
            [iconClass]="'fa-database'"
            [id]="'datamodel-editor'">
        <xn-data-model-editor></xn-data-model-editor>
    </xn-tab>
    <xn-tab [title]="'Dein Modell'"
            [iconClass]="'fa-table'"
            [id]="'dmn-editor'">
        <xn-dmn-modeller [type]="'editor'"></xn-dmn-modeller>
    </xn-tab>
    <xn-tab [title]="'Tests'"
            *ngIf="isDecicionTableMode"
            [iconClass]="'fa-cog'"
            [id]="'test-editor'">
        <xn-test-suite></xn-test-suite>
    </xn-tab>
    <xn-tab [title]="'Import'"
            *ngIf="isDecicionTableMode"
            [iconClass]="'fa-cloud-upload'"
            [id]="'import'">
        <xn-importer></xn-importer>
    </xn-tab>
</xn-tabs>
<xn-dmn-simulator *ngIf="isDecicionTableMode" [isVisisble]="tabId === 'dmn-editor'"></xn-dmn-simulator>
