<xn-tabs (selectedTabChange)="onSelectedTabChanged($event)">
    <xn-tab [title]="'Datenmodell'"
            [visible]="isDecicionTableMode$ | async"
            [iconClass]="'fa-database'"
            [id]="tabIds.datamodelEditor">
        <xn-data-model-editor></xn-data-model-editor>
    </xn-tab>
    <xn-tab [title]="'Dein Modell'"
            [iconClass]="'fa-table'"
            #editorTab
            [id]="tabIds.editor">
        <xn-dmn-modeller [type]="'editor'"></xn-dmn-modeller>
    </xn-tab>
    <xn-tab [title]="'Tests'"
            [visible]="isDecicionTableMode$ | async"
            [iconClass]="'fa-cog'"
            [id]="tabIds.testEditor">
        <xn-test-suite></xn-test-suite>
    </xn-tab>
    <xn-tab [title]="'Import'"
            [visible]="false"
            [iconClass]="'fa-cloud-upload'"
            [id]="tabIds.importer">
        <xn-importer></xn-importer>
    </xn-tab>
    <xn-tab [title]="'Einstellungen'"
            [visible]="false"
            #settingsTab
            [id]="tabIds.settings">
        <xn-settings *ngIf="settingsTab.active"></xn-settings>
    </xn-tab>
    <xn-tab [title]="'Hilfe'"
            [visible]="false"
            #documentationTab
            [id]="tabIds.documentation">
        <xn-dmnmgr-documentation *ngIf="documentationTab.active"></xn-dmnmgr-documentation>
    </xn-tab>
    <xn-tab [title]="'Example'"
            [visible]="pluginExampleActivated$ | async"
            [iconClass]="'fa-internet-explorer'"
            [id]="tabIds.example">
        <xn-iframe-tab></xn-iframe-tab>
    </xn-tab>
</xn-tabs>
<xn-dmn-simulator *ngIf="isDecicionTableMode$ | async" [isVisisble]="showSimulator$ | async"></xn-dmn-simulator>
