<xn-dialog [closable]="true"
            [open]="open"
            (openChange)="onDialogOpenChanged($event)"
            (confirm)="onOkClicked()"
            [hideCancelButton]="true"
            [defaultOkButtonText]="'Ok'"
            [closeOnOutsideClick]="false">
    <div class="dialog-title">
        LV 1871 dmnmgr
    </div>
    <div class="dialog-body pb-1">
        <table class="mb-2">
            <tr>
                <td>Version:</td><td>{{version}}</td>
            </tr>
            <tr>
                <td>Name</td><td>{{name}}</td>
            </tr>
            <tr>
                <td>Firma</td><td>LV 1871</td>
            </tr>
            <tr>
                <td>Copyright</td><td>{{author.name}} 2019</td>
            </tr>
            <tr>
                <td>Email</td><td><{{author.email}}></td>
            </tr>
            <tr>
                <td>web-components</td><td>{{webComponentsVersion}}</td>
            </tr>
            <tr>
                <td>dmnjs</td><td>{{versionDmnJs}}</td>
            </tr>
        </table>
    </div>
</xn-dialog>
