<xn-dialog [closable]="isClosable"
            [open]="open"
            (openChange)="onDialogOpenChanged($event)"
            (confirm)="onOkClicked()"
            [hideCancelButton]="true"
            [defaultOkButtonText]="'Ok'"
            [buttonsDisabled]="showLoadingIndicator"
            [closeOnOutsideClick]="false">
    <div class="dialog-title">
        {{title}}
    </div>
    <div class="dialog-body pb-1">
        <p *ngIf="!showLoadingIndicator">
            {{message}}
        </p>
        <xn-material-spinner *ngIf="showLoadingIndicator"></xn-material-spinner>
    </div>
</xn-dialog>
