@import 'variables';
@import 'mixins';

xn-json-editor {
    display: block;
    width: 450px;
}

.wrapper {
    padding-bottom: 80px;
    min-width: 350px;
    max-width: 458px;
}

.simulator-button {
    position: absolute;
    bottom: 30px;
    right: 20px;
    z-index: 1090;
}

.flex-grow {
    flex-grow: 1;
}
