xn-json-editor {
    display: block;
    width: 450px;
}

.wrapper {
    padding-bottom: 80px;
}

.simulator-button {
    position: absolute;
    bottom: 30px;
    right: 20px;
    z-index: 2001;
}
