@import url('https://fonts.googleapis.com/css?family=Roboto:300,900');
@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400');

// Brand

$brand-primary:                                 #333;
$brand-secondary:                               #D6CCAD;
$brand-teritiary:                               #82bb2d;

$brand-color:                                   #82bb2d;
$brand-light-color:                             rgba(130, 187, 45, 0.55);

// Colors

$brand-white:                                   #fffff0;
$dark-gray:                                     #333;
$light-gray:                                    lighten($dark-gray, 20);
$very-light-gray:                               #E3E5E6;
$danger:                                        #f13943;
$default-icon-color:                            $brand-primary;

// Font

$primary-font:                                  'Roboto', sans-serif;
$secondary-font:                                'Roboto', sans-serif;
$tertiary-font:                                 'Roboto Condensed', serif;

$base-font-family:                              $primary-font;
$base-heading-font-family:                      $secondary-font;
$base-blockquote-font-family:                   $primary-font;

$base-heading-font-family-alternate:            $secondary-font;

$base-font-color:                               #444;
$small-font-size:                               0.7rem;
$base-font-size: 16;
$base-h1-font-size: 40;
$base-h1-line-height: 40;

// Headings

$base-header-weight:                            400;
$base-bold-header-weight:                       700;
$base-bold-alternate-weight:                    900;

$base-h1-font-weight:                           $base-header-weight;
$base-h1-color:                                 $base-font-color;
$base-h2-font-weight:                           $base-header-weight;
$base-h2-color:                                 $base-font-color;
$base-h3-font-weight:                           $base-header-weight;
$base-h3-color:                                 $base-font-color;
$base-h4-font-weight:                           $base-bold-alternate-weight;
$base-h4-color:                                 $base-font-color;
$base-h5-font-weight:                           $base-header-weight;
$base-h5-color:                                 $base-font-color;
$base-h6-font-weight:                           $base-header-weight;
$base-h6-color:                                 $base-font-color;

// Links

$base-link-color:                               $brand-teritiary !default;
$base-link-hover-color:                         darken($base-link-color, 20%);

$default-link-hover-color:                      $brand-teritiary;

// Layout

$container-xl:                                  960px;
$container-horizontal-spacearound:              0px;
$header-height:                                 10px;
$responsive-header-height:                      10px;
$xn-menu-header-height:                         $header-height;
$xn-menu-header-height-responsive:              $responsive-header-height;

// header

$xn-menu-header-background-color:               #fff;
$xn-menu-header-padding-left:                   20px;
$xn-menu-header-padding-right:                  20px;
$xn-menu-header-padding-bottom:                 9px;
$xn-menu-header-padding-top:                    5px;
$xn-menu-header-right:                          initial;
$xn-menu-header-left:                           50%;
$xn-menu-header-transform:                      translateX(-50%);
$xn-menu-header-nav-layout:                     block;
$xn-menu-header-shadow:                         none;
$xn-menu-header-brand-weight:                   900;
$xn-menu-header-brand-color:                    $brand-teritiary;

$menu-brand-bar-float:                          left;
$menu-list-position:                            initial;
$menu-list-float:                               right;

$menu-item-color:                               $brand-primary;
$menu-item-hover-color:                         $brand-primary;

// Scroll to top

$scroll-to-top-button-background-color:         $brand-secondary;
$scroll-to-top-button-text-color:               $brand-white;

$input-form-background-color: transparent;



@import "../../node_modules/getbase/src/scss/base/_variables.scss";
@import "../../node_modules/@xnoname/web-components/module/styles/_variables.scss";
