$fa-font-path: '../../node_modules/font-awesome/fonts';
@import "./_variables";
@import "./_mixins";
@import "../../node_modules/getbase/src/scss/base.scss";
@import "../../node_modules/getbase/src/scss/base/_helpers.scss";
@import "breakpoint";
@import "../../node_modules/@xnoname/web-components/module/styles/core.scss";
@import "helpers";

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.main-content {
    padding-top:                                $header-height + 19px;

    @media (max-width: $breakpoint-m - 1) {
        padding-top:                            $responsive-header-height + 19px;
    }
}

xn-menu-header .nav li a {
    margin-right: 5px;
}

xn-menu-header {
    border-radius: 0px 0px 5px 5px;
    z-index: 1005;
}

.full-content-height {
    height: calc(100% - (#{$header-height} + 15px));
}
